[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fpmatters = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
build = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
